<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Hello Guys</h1>

    <button id="testBtn">press</button>

    <button id="nav" onclick="nav()">navigate to test</button>

    <button><a href="/navigationTest">navigate to test using a tag</a></button>

    <script>
        function nav() {
            window.location.href = '/navigationTest';
        }
    </script>

    <script src="/static/scripts/landingPage.js" type="module"></script> 
</body>
</html>