<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/style-Navigation.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Navigation</title>
</head>
<body>
    <div class="myPhoneStatus">

    </div>
    <div class="headLogos">

        <div class="profile">
        </div>
        <div class="charlerLogo"></div>
        <div class="searchLang">
            <svg width="30" height="30" stroke-width="1.5" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M15.5 15.5L19 19" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                <path
                    d="M5 11C5 14.3137 7.68629 17 11 17C12.6597 17 14.1621 16.3261 15.2483 15.237C16.3308 14.1517 17 12.654 17 11C17 7.68629 14.3137 5 11 5C7.68629 5 5 7.68629 5 11Z"
                    stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

            <!-- <div class="search">S</div> -->
        </div>
    </div>
    <div class="busbox">
        <div id="bus"></div>
    </div>
    <div>
        <h2 class="navigation-h2">Transport</h2>
        <div id="map-container">
            <div id="transport-bar">
                <div class="transport-bar-button tec">TEC</div>
                <div>Convoiturage</div>
                <div>Location Vélo</div>
            </div>
            <div id="map">
            There goes raph map
            </div>
        </div>
    </div>
    <div>
        <h2 class="navigation-h2">Voici les liens utiles</h2>
        <div id="navigation-drawer">
            <div class="navigation-draw">
                <div>Lignes</div>
                <div class="navigation-arrow-right"></div>
            </div>
            <div class="navigation-draw">
                <div>Horraires</div>
                <div class="navigation-arrow-right"></div>
            </div>
            <div class="navigation-draw">
                <div>Travaux</div>
                <div class="navigation-arrow-right"></div>
            </div>
            <div class="navigation-draw">
                <div>Site Officiel</div>
                <div class="navigation-arrow-right"></div>
            </div>

        </div>
    </div>
    <div>
        <h2 class="navigation-h2">Johanna, l'expert du transport</h2>
    </div>
    <div id="navigation-prifile-pic-container">
        <div id="navigation-prifile-pic">
        </div>
    </div>
    <div>
        <h2 class="navigation-h2">Profil</h2>
    </div>
    <div id="navigation-profile-text">

    </div>
    <div id="navigation-profile-text-2-container">
        <div id="navigation-profile-text-2">
    </div>

    </div>
    <div id="navigation-nav-bar"></div>

    
</body>
</html>